[Unit]
Description=Prometheus logging of the BME280 and MCP9808

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/prometheus-sensors

[Install]
WantedBy=multi-user.target